#root {
  display: grid;
  grid-template-rows: auto minmax(600px, 1fr) auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.male-table-color {
  background-color: #889eff !important;
  color: rgb(24, 31, 99);
}

.female-table-color {
  background-color: #fac47d;
  color: rgb(105, 60, 17);
}

.modal-back {
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(90, 90, 90, 0.616);
  padding: 10px;
}

.modal-body {
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  margin: auto;
  padding: 16px;
  width: 100%;
}

@media (min-width: 576px) {
  .modal-body {
    max-width: 500px;
  }
}